.inquest-container {
    position: relative;
}

.inquest-container h2 { 
    position: absolute; 
    top: -19px; 
    width: 100%; 
    margin: 0;
 }

.inquest-container h2 span { 
    color: white; 
    font: bold 12px/23px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px; 
    position: absolute;
    top: 0;
    left: 0;
 }

 .inquest-container h2 div { 
    height: 128;
    width: 128;
    border-style: solid;
    border-width: 0.5px;
    border-color: lawngreen;
 }